#left-sidebar.span3
#right-content.span9
  %br
  %blockquote
    %p.large Sign Up
    .small So you can filter search breeds and autoload your zip code, also you can follow adotable dogs.
  = render partial: 'form'