.alert.alert-info
  %b Find an adoptable dog:
  = form_for 'quick_search', method: :post, html: {class: 'form-inline'} do |f|
    = f.select :breed, list_dog_breeds
    = f.text_field :zip_code, value: session[:zip_code], class: 'text_field span2', placeholder: 'Zip Code'
    = f.submit 'Search', class: 'btn btn-primary'