#left-sidebar.span3
  %div.curved-box
    .header Cookie
  %div.curved-box
    .header Tuffy
#right-content.span9
  = render partial: 'shared/find_dog_mini_form'
  %blockquote
    %p.large About Us
    .small A little information about who we are and why we are doing this.

  %ul.nav.nav-tabs
    %li{class: "#{'active' if params[:dog] == 'cookie' || params[:dog].blank?}"}= link_to 'Cookie', about_us_path(dog: 'cookie')
    %li{class: "#{'active' if params[:dog] == 'tuffy'}"}= link_to 'Tuffy', about_us_path(dog: 'tuffy')
