// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#random-dog {
  width: auto;
  div.thumbnail2 {
    width: 310px;
    overfollow: hidden;
    img {
      width: 300px;
      height: auto;
    }
  }
}